In [60]:


import sqlite3
import pandas as pd

def query_link_state(path):
    con = sqlite3.connect(path)
    cur = con.cursor()
    cur.execute('SELECT * FROM linkcost')
    
    rows = cur.fetchall()
    return rows
    con.close()
    
def query_link_last_state(path):
    con = sqlite3.connect(path)
    cur = con.cursor()
    cur.execute('SELECT * FROM linkcost WHERE time_id = (SELECT MAX(time_id) FROM linkcost)')
    
    rows = cur.fetchall()
    return rows
    con.close()


row = query_link_state('./db/linkcost-15-22-24--28-08-2023.db')


df = pd.DataFrame(row, columns=['timeid', 'src', 'dst', 'delay', 'packetloss', 'link_usage', 'free_bandwidth'])
# df.to_csv("temp.csv", sep='\t')
df

      timeid  src  dst      delay packetloss  link_usage free_bandwidth
0          3   25   32        NaN       None     0.00000           None
1          3   25   17        NaN       None     0.00000           None
2          3   25   18        NaN       None     0.00000           None
3          3   25   24        NaN       None     0.00000           None
4          3    2   18        NaN       None     0.00000           None
...      ...  ...  ...        ...        ...         ...            ...
6183     121   23   22  12.618184       None     0.00016           None
6184     121   23   21  35.827875       None     0.00032           None
6185     121   23   24  50.894380       None     0.00032           None
6186     121   20   21  11.329651       None     0.00032           None
6187     121   20   19  25.437117       None     0.00032           None

[6188 rows x 7 columns]