In [13]:


import sqlite3
import pandas as pd

def query_link_state(path):
    con = sqlite3.connect(path)
    cur = con.cursor()
    cur.execute('SELECT * FROM linkcost')
    
    rows = cur.fetchall()
    return rows
    con.close()
    
def query_link_last_state(path):
    con = sqlite3.connect(path)
    cur = con.cursor()
    cur.execute('SELECT * FROM linkcost WHERE time_id = (SELECT MAX(time_id) FROM linkcost)')
    
    rows = cur.fetchall()
    return rows
    con.close()


row = query_link_state('./db/linkcost-21-13-18--31-08-2023.db')
#HostwayInternational

df = pd.DataFrame(row, columns=['timeid', 'src', 'dst', 'delay', 'packetloss', 'link_usage', 'free_bandwidth'])
savedfilename1 = input("ten thuat toan")
savedfilename2 = input("số switch")
savedfilename3 = input("ten topo")
savedfilename4 = input("số request")
savedfilename = savedfilename1 + str(savedfilename2) + "sw" + savedfilename3 + savedfilename4 + "Request.csv"
print(savedfilename)
df.to_csv(savedfilename, sep='\t')
df

GA16swHostwayInternational50Request.csv

       timeid  src  dst      delay  packetloss  link_usage  free_bandwidth
0           0    5    2        NaN         4.0    0.000000        0.000000
1           0    5    8        NaN         0.0    0.000000        0.000000
2           0    5    7        NaN         0.0    0.000000        0.000000
3           0    2    5        NaN         4.0    0.000000        0.000000
4           0    2    8        NaN         3.0    0.000000        0.000000
...       ...  ...  ...        ...         ...         ...             ...
12175     608    1    3  46.566010         1.0    0.000317        0.000392
12176     608    6    3  26.669741         1.0    0.000317        0.000567
12177     608    6    1  22.635460         1.0    0.000317        0.000622
12178     608    7    5  35.556674         0.0    0.000317        0.000473
12179     608    7    8  35.563588         3.0    0.000159        0.000233

[12180 rows x 7 columns]